agent_model:
  name: Qwen/Qwen3-4B-Instruct-2507
  type: qwen
  temperature: 0.6
  top_p: 0.6
  top_k: null
  max_length: 2048
  torch_dtype: bfloat16

agents: null

critic_model:
  name: "Qwen/Qwen3-4B-Instruct-2507"
  type: qwen
  max_length: 2048
  torch_dtype: bfloat16

critics: null

dataset:
  name: FudanSELab/ClassEval
  type: classeval
  train_split: test[:66]
  eval_split: test[66:82]

output:
  base_dir: output_maac_classeval
  save_final_model: false
  save_path: output_maac_classeval
  verbose: false

external:
  mode: code_feedback
  original_prompt: true
  previous_response: true
  external_prompt_passthrough: false

maac:
  parallel_training: none
  agent_devices: ["cuda:0"]
  critic_devices: ["cuda:0"]
  num_agents: 2
  num_turns: 2
  critic_type: v
  num_train_epochs: 40
  agent_learning_rate: 5e-6
  critic_learning_rate: 5e-6
  value_loss_coef: 0.6
  rollout_buffer_size: 2
  train_batch_size: 2
  max_new_tokens: 600
  num_generations: 1
  discount: 0.9
  early_termination_threshold: -0.2
  eval_interval: 20
  eval_num_samples: 2
  eval_batch_size: 1
  logging_steps: 1

reward_processor:
  enabled: true
  scale_factor: 1.0
  shift: -6.0

wandb:
  project: classeval_dev
  entity: null
  name: codecompletion_classeval_maac
  dir: output_maac_classeval
  tags: ["maac", "classeval", "code-completion", "turns_2"]
